{   
margin:0px;
font-family:"courier prime", monospace;
}
h1{
background-color: teal;
color: white;
padding: 20px;
}
h1 > span
{
    font-size:medium;
    margin: 0 50px;
    border: 1px solid black;
    height: 25px;
    padding: 20px;

}